.about {
	margin: 112px 0 200px 112px;
	@media (max-width: 787px) {
		margin: 64px 16px 120px 16px;
	}

	&__photo {
		display: block;
		height: 120px;
		width: 120px;
		padding: 10px;
		margin-bottom: 16px;
		@media (max-width: 787px) {
			height: 80px;
			width: 80px;
			padding: 5px;
			margin-bottom: 16px;
		}
	}

	&__header {
		font-weight: 600;
		font-size: 40px;
		line-height: 56px;
		margin-bottom: 16px;
		max-width: 787px;
		@media (max-width: 787px) {
			font-size: 26px;
			line-height: 36px;
			margin-bottom: 8px;
		}
	}

	&__description {
		font-weight: 300;
		font-size: 20px;
		line-height: 36px;
		color: $darkGrey;
		margin-bottom: 60px;
		max-width: 787px;
		@media (max-width: 787px) {
			font-size: 14px;
			line-height: 26px;
			margin-bottom: 40px;
		}
		&--link {
		font-weight: 500;
		color: $linkBlue;
			&:visited {
				color: $linkBlue;
			}
		}
	}

	&__email {
		font-weight: 500;
		font-size: 20px;
		line-height: 32px;
		color: $linkBlue;
		text-decoration: none;
		padding-bottom: 8px;
		border-bottom: 2px solid $linkBlue;
		@media (max-width: 787px) {
			font-size: 14px;
			line-height: 26px;
		}
	}
}