@keyframes shake {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0);
	}
}

.about {
	margin: 112px 0 180px 112px;
	padding-right: 16px;
	@media (max-width: 787px) {
		margin: 64px 16px 120px 16px;
	}

	&__photo {
		display: block;
		height: 120px;
		width: 120px;
		padding: 10px;
		margin-bottom: 16px;
		transition: transform .4s linear;
		&:hover {
			transform: scale(1.5) ;
		}
		@media (max-width: 787px) {
			height: 80px;
			width: 80px;
			padding: 5px;
			margin-bottom: 16px;
		}

	}

	&__header {
		font-weight: 600;
		font-size: 2.5rem;
		line-height: 3.5rem;
		margin-bottom: 16px;
		max-width: 787px;
		transition: transform 1s linear;
		@media (max-width: 787px) {
			margin-bottom: 8px;
		}
		&--shake{
			display: inline-block;
			animation: shake 1s linear infinite;
		}
	}

	&__description {
		font-weight: 300;
		font-size: 1.25rem;
		line-height: 2.25rem;
		color: $darkGrey;
		margin-bottom: 60px;
		max-width: 787px;
		@media (max-width: 787px) {
			margin-bottom: 40px;
		}
		&--link {
			display: inline-block;
			font-weight: 500;
			color: $linkBlue;
			transition: color .3s, transform .3s linear;
			&:hover {
				transform: scale(1.025);
				color: red;
				@media (max-width: 787px) {
					color: $linkBlue;
				}
			}
			&-contact:hover + .about__description--happy-face {
				transform: rotate(1turn);
			}
		}
		&--happy-face {
			display: inline-block;
			transition: transform .5s linear;
		}
	}

	&__email {
		display: inline-block;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 2rem;
		color: $linkBlue;
		text-decoration: none;
		padding-bottom: 8px;
		border-bottom: 2px solid $linkBlue;
		transition: color .3s linear, border-color .3s linear, transform .3s linear;
		&:hover {
			color: red;
			border-color: red;
			transform: scale(1.025);
		}
	}
}