.skills {
	margin: 0 128px 168px 128px;
	&__header {
		font-weight: 600;
		font-size: 36px;
		line-height: 48px;
		border-bottom: 2px solid #CBD2D9;
		margin-bottom: 128px;
	}
}

.skill {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 128px;

	&__header {
		margin: 0;
		font-weight: 600;
		font-size: 36px;
		line-height: 48px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 80px;
			height: 4px;
			border-radius: 8px;
			top: -24px;
			background-color: $green;
			.skill-purple & {
				background: $purple;
			}
			.skill-blue & {
				background: $darkBlue;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 24px;
		padding: 0;
		margin: 0;
		list-style: none;
		&--item {
			font-size: 18px;
			line-height: 40px;
			white-space: nowrap;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 12px;
				left: -28px;
				width: 18px;
				height: 18px;
				background-image: url('../../assets/img/check-green.svg');
				background-size: cover;
				.skill-purple & {
					background-image: url('../../assets/img/check-purple.svg');
				}
				.skill-blue & {
					background-image: url('../../assets/img/check-blue.svg');
				}
			}
		}
	}
}