@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');
@import "about.scss";
@import "skills.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border: 16px solid $stoneBlue;
  box-sizing: border-box;
  font-family: poppins;
  font-style: normal;
  color: $stoneBlue;
}
